.not-found-page {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-page-number {
  color: #e71212e7;
  padding: 1rem;
  font-size: 5rem;
}

.not-found-page-desc {
  color: #333;
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
  font-weight: 100;
}

.not-found-page-return {
  color: #333;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  transition: .5s;
  font-weight: 300;
}

.not-found-page-return:hover {
  color: #2424e6f5;
}

