button.add-button {
  cursor: pointer;
  width: 56px;
  height: 56px;
  padding: 0;
  line-height: 54px;
  font-size: 30px;
  outline: 0;
  border: none;
  background-color: #1e88e5;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  right: 10px;
}

button.add-button:hover {
  background-color: #1976d2;
}